body {
  font-family: Arial, Helvetica, sans-serif;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  border: 1px solid;
  padding: 30px;
  border-radius: 20px;
}
